/* 
    Document   : privilegios
    Created on : 19/10/2013, 10:18:19 PM
    Author     : pablo
    Description:
        Purpose of the stylesheet follows.
*/

.vistaArbol{
    display: none;
}

.imagen_cargando {
  background-image: url("../../imagenes/wait.gif");
  background-position: center center;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  margin-left: 250px;
}