#Options -MultiViews -Indexes
php_value display_errors off

php_value error_log "/var/log/almotos_php_log.log"

#Permitir carga de archivos hasta de 20 MB
php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value max_execution_time 200
php_value max_input_time 200

RewriteEngine on
RewriteBase /


# Página principal 
RewriteRule ^/?$ - [L]
RewriteRule ^/?index.php$ - [L]

RewriteRule ^/?imagenes/?(.*)?$ - [L]
RewriteRule ^/?media/?(.*)?$ - [L]
RewriteRule ^/?reproductor/?(.*)?$ - [L]
RewriteRule ^/?temas/?(.*)?$ - [L]
RewriteRule ^/?javascript/?(.*)?$ - [L]
RewriteRule ^/?temporal/?(.*)?$ - [L]

RewriteRule ^/?modulos/?(.*)?$ - [L]

# Manejador de peticiones vía AJAX
RewriteRule ^/?ajax/([a-z_]+)/?$                 index.php?via=ajax&modulo=$1 [L]


RewriteCond %{QUERY_STRING} ^(.*)start=(.*)\&end=(.*)$
RewriteRule ^/?ajax/([a-z_]+)/([A-Za-z]+)$       index.php?via=ajax&modulo=$1&accion=$2&start=%2&end=%3 [L]

RewriteCond %{QUERY_STRING} ^(.*)extra=(.*)\&term=(.*)$
RewriteRule ^/?ajax/([a-z_]+)/([A-Za-z]+)$       index.php?via=ajax&modulo=$1&accion=$2&extra=%2&cadena=%3 [L]


RewriteCond %{QUERY_STRING} ^(.*)term=(.*)$
RewriteRule ^/?ajax/([a-z_]+)/([A-Za-z]+)$       index.php?via=ajax&modulo=$1&accion=$2&cadena=%2 [L]


RewriteRule ^/?ajax/([a-z_]+)/([A-Za-z]+)/?$       index.php?via=ajax&modulo=$1&accion=$2 [L]

# Manejador de módulos
RewriteRule ^/?([a-z_]+)/?$ index.php?modulo=$1 [L]
RewriteRule ^/?([a-z_]+)/([a-z_]+)/(.*)?/?$ index.php?modulo=$1&funcionalidad=$2&categoria=$3 [L]
RewriteRule ^/?([a-z_]+)/(.*)?/?$ index.php?modulo=$1&ruta=$2 [L]

